name: emotion_detection_app
description: "Real-time emotion detection app using TensorFlow Lite"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  camera: ^0.11.0+2
  tflite_flutter: ^0.12.1
  google_mlkit_face_detection: ^0.12.0
  image: ^4.2.0
  path_provider: ^2.1.5
  permission_handler: ^11.3.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/model.tflite
